################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreBackE/.vs/AspNetCoreBackE
/AspNetCoreBackE/AspNetCoreBackE/bin/Debug/netcoreapp3.1
/AspNetCoreBackE/AspNetCoreBackE/obj
